
body {
    font-family: ui-sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.intro-container-wrapper {
    display: flex;
    justify-content: space-between; /* Spread the two containers across the page */
    width: 87%; /* Adjust as needed */
    margin: 20px auto; /* Adjust margin as needed */
}

.intro-container {
    display: flex;
    background-color: #ffffff;
    margin: 20px auto;
    
}

/* Set the width of the left container to cover one third of the page */
.intro-container.left {
    width: calc(20%);
    position: relative;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    flex-direction: column; /* Stack the image and icons vertically */
}

/* Set the width of the right container to cover two thirds of the page */
.intro-container.right {
    width: calc(80%); /* Subtract 5px for padding and box shadow */
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}
/* Add margin between the left and right containers */
.intro-container.left + .intro-container.right {
    margin-left: 20px; /* Adjust as needed */
}

.custom-block {
    position: relative;
    background-color: #ffffff;
    padding: 10px;
    margin: 20px auto;
    width: 85%;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-top: 4px solid #7a7a7a;

}

.note {
    position: relative;
    top: -11px; 
    left: -5px;
    background-color: #7a7a7a;
    padding: 2px;
    border-radius: 0 0 4px 4px;
    font-family: 'ui-sans-serif';
    color: #ffffff;
}

.content {
    width: 100%; 
    background-color: #ffffff;
    font-family: 'ui-sans-serif';
    display: flex;
}

.text-container { 
    background-color: #ffffff; 
    font-family: 'ui-sans-serif';
    padding: 5 0px;
    padding-right: 5px;
    float: left;
}

.custom-link {
    text-decoration: none; 
    color: #000000;
    padding: 5 0px;
  }

.custom-icon {
    object-fit: cover;
    width: 30px;
    height: 30px;
    float: left;
    padding: 5px;
}

  .custom-image {
    object-fit: cover;
    width: 400px;
    height: 180px;
    border-radius: 4px;
    float: right;
    
}

.profile-image {
    max-width: 100%;
    border-radius: 4px;
    object-fit: contain;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.contact-icon {
    width: 30px;
    height: 30px;
    padding: 5px;
    padding: 5px;
    object-fit: contain;

}

.centered-icons {
    display: flex; /* Display the icons in a row */
    justify-content: center; /* Center the icons horizontally */
    margin-top: 20px; /* Adjust spacing between image and icons */
    
}

