---
const today = new Date();
---

<footer class="flex flex-row justify-between text-xs my-16">
	&copy; {today.getFullYear()} Marc Wörner
	<div class="social-links">
		<a href="https://www.linkedin.com/in/marc-wörner-031393232" target="_blank">LinkedIn</a>
		<a href="https://github.com/withastro/astro" target="_blank">Medium</a>
	</div>
</footer>

