<header class="pb-2 my-4">
	<nav>
	  <div class="flex flex-col font-mono font-medium gap-4 sm:flex-row px-4 sm:px-0 mt-16 sm:mt-0 my-4">
		<a href="/" class="mr-1 hover:underline">Home</a>
		<a href="/projects/" class="mr-1 hover:underline">Projects</a>
		<a href="/articles/" class="mr-1 hover:underline">Articles</a>
		<a href="/books/" class="mr-1 hover:underline">Books</a>
	  </div>
	</nav>
	<div class="border-b-2 border-black absolute left-0 right-0"></div>
</header>


